root = true

[*]
insert_final_newline = true
tab_width = 4

[Vagrantfile]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[*.sh]
end_of_line = lf
indent_style = space
indent_size = 4
